#body {
  padding-top: 0;
  padding-bottom: 20px;
  background-color:#eee;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  border-bottom: 1px solid #e5e5e5;
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.panel {
  border-radius: 4px;
  margin: 1rem 0;
  padding: 1.9rem;
  box-shadow: none;
}
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background:#1B93E9;
  color: #f1f1f1;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.panel-date {
  color: #5F5F5F;
}
.trip__title {
  font-size: 14px;
  font-weight: 400;
  color: #5F5F5F;
}
.agenda__col {
  padding: 0 3px;
}
.col-lg-2.agenda__col--notes {
  font-size: 12px;
}
.panel__title--sub {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #795F5F;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

.agenda {
  width: 100%;
  clear:both;
  margin-bottom: 2rem;
  border-bottom:1px solid #eee;
}
i.glyphicon.glyphicon-plane {
    color: #1B93E9;
}
i.glyphicon.glyphicon-home {
    color: #E9C61B;
}
.scrollspy {
  position: absolute;
  right: 0;
  z-index: 999;
}


.nav {
  background: none;
}

.nav > li > a {
  color: #fff;
  padding: 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
li.active > a {
  background: #0A85DD;
  color: #fff;
}
.nav li a:hover,
.nav li a:focus {
  background: #86c5da;
}

.nav .active {
  font-weight: bold;
  /*background: #1B93E9;*/
}
.nav li.active a {

}
#nav {
  background: #1B93E9;
  right: 10px;
  width: 79px;
  border-radius: 4px;
}
.nav .nav {
  display: none;
}

.nav .active .nav {
  display: block;
}

.nav .nav a {
  font-weight: normal;
  font-size: .85em;
}

.nav .nav span {
  margin: 0 5px 0 2px;
}

.nav .nav .active a,
.nav .nav .active:hover a,
.nav .nav .active:focus a {
  font-weight: bold;
  padding-left: 10px;
  border-left: 5px solid #fff;
}

.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span {
  display: none;
}

.application {
  border-top: 1px solid #c1e1ec;
}

.affix-top {
  position: absolute;
  right: 0;
  width: 80px;
}

.affix {
  top: 3px;
  right: 0;
}

.affix, 
.affix-bottom {
 width: 80px;
}

.affix-bottom {
  position: absolute;
}




/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container-planner {
    max-width: 1130px;
  }
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
